In [1]:
import pandas as pd
import datetime as dt

In [ ]:
#datetime is part of the python language - internal library shiped with python
#while pandas is external

#datetime has a method called datetime

In [2]:
dt.date(2023,10,8)

datetime.date(2023, 10, 8)

In [3]:
today = dt.date(2023,10,8)

In [6]:
today.year
today.month
today.day

8

In [7]:
dt.datetime(2023,10,8)

datetime.datetime(2023, 10, 8, 0, 0)

In [10]:
dt.datetime(2023,10,8,17,13,57)

datetime.datetime(2023, 10, 8, 17, 13, 57)

In [11]:
str(dt.datetime(2023,10,8,17,13,57))

'2023-10-08 17:13:57'

In [13]:
str(dt.date(2023,10,8))

'2023-10-08'

In [14]:
sometime = dt.datetime(2023,10,8,17,13,57)

In [17]:
sometime.year
sometime.hour
sometime.second

57

### pandas - pd.Timestamp()

In [24]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2015")

Timestamp('2015-04-03 00:00:00')

In [25]:
pd.Timestamp("19/12/2015 6:13:23 PM")

Timestamp('2015-12-19 18:13:23')

In [28]:
pd.Timestamp(dt.date(2015,1,1))
pd.Timestamp(dt.datetime(2015,1,1,21,35,22))

Timestamp('2015-01-01 21:35:22')

In [32]:
type(pd.Timestamp(dt.date(2015,1,1)))

pandas._libs.tslibs.timestamps.Timestamp

### pandas - pd.DateTimeIndex()

In [29]:
dates = ["2023-01-02", "2023-04-03", "2023-11-22"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2023-01-02', '2023-04-03', '2023-11-22'], dtype='datetime64[ns]', freq=None)

In [30]:
dates = [dt.date(2023,1,2), dt.date(2023,4,3), dt.date(2023,11,22)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2023-01-02', '2023-04-03', '2023-11-22'], dtype='datetime64[ns]', freq=None)

In [31]:
dtIndex = pd.DatetimeIndex(dates)
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2023-01-02    100
2023-04-03    200
2023-11-22    300
dtype: int64

In [33]:
type(dtIndex[1])

pandas._libs.tslibs.timestamps.Timestamp

### pandas - pd.to_datetime()

In [36]:
pd.to_datetime("2023-08-11")
pd.to_datetime(["2023-08-11", "2021/04/08", "2016", "July 14th, 1996"], format='mixed')

DatetimeIndex(['2023-08-11', '2021-04-08', '2016-01-01', '1996-07-14'], dtype='datetime64[ns]', freq=None)

In [38]:
pd.Series(["2023-08-11", "2021/04/08", "2016", "July 14th, 1996", dt.date(1994,10,23)])

0         2023-08-11
1         2021/04/08
2               2016
3    July 14th, 1996
4         1994-10-23
dtype: object

In [42]:
times = pd.Series(["2023-08-11", "2021/04/08", "2016", "July 14th, 1996", dt.date(1994,10,23)])
pd.to_datetime(times, format='mixed')

0   2023-08-11
1   2021-04-08
2   2016-01-01
3   1996-07-14
4   1994-10-23
dtype: datetime64[ns]

In [45]:
dates = pd.Series(["2023-08-11", "2021/04/08", "Hello", "2021-02-31"])
pd.to_datetime(dates, format='mixed', errors="coerce")

0   2023-08-11
1   2021-04-08
2          NaT
3          NaT
dtype: datetime64[ns]

In [46]:
#Unix time
pd.to_datetime([1349304924,1328745033,1245920593], unit="s")

DatetimeIndex(['2012-10-03 22:55:24', '2012-02-08 23:50:33',
               '2009-06-25 09:03:13'],
              dtype='datetime64[ns]', freq=None)

### pd.date_range()

In [50]:
#at least three arguments required, return a DateTimeIndex
pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")
pd.date_range(start="2016-01-01", end="2016-01-10", freq="2D")
pd.date_range(start="2016-01-01", end="2016-01-10", freq="B") #BUSINESS WORKING DAYS
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W") #SUNDAY IN EACH WEEK/WEEK END
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W-SUN")
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W-FRI")
pd.date_range(start="2016-01-01", end="2016-01-10", freq="H")
pd.date_range(start="2016-01-01", end="2016-01-10", freq="6H")
pd.date_range(start="2016-01-01", end="2016-12-31", freq="M") #MONTH END
pd.date_range(start="2016-01-01", end="2016-12-31", freq="MS") #MONTH START
pd.date_range(start="2016-01-01", end="2016-12-31", freq="A") #YEAR END

DatetimeIndex(['2016-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [56]:
pd.date_range(start="2016-01-01", periods=10, freq="D")
pd.date_range(start="2016-01-01", periods=10, freq="B")
pd.date_range(start="2016-01-01", periods=10, freq="W")
pd.date_range(start="2016-01-01", periods=10, freq="W-TUE")
pd.date_range(start="2016-01-01", periods=10, freq="MS")
pd.date_range(start="2016-01-01", periods=10, freq="A")
pd.date_range(start="2016-01-01", periods=10, freq="H")
pd.date_range(start="2016-01-01", periods=10, freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [63]:
pd.date_range(end="2023-09-23", periods=20, freq="D")
pd.date_range(end="2023-09-23", periods=20, freq="B")
pd.date_range(end="2023-09-23", periods=20, freq="W-SUN")
pd.date_range(end="2023-09-23", periods=20, freq="W-FRI")
pd.date_range(end="2023-09-23", periods=20, freq="MS")
pd.date_range(end="2023-09-23", periods=20, freq="A")
pd.date_range(end="2023-09-23", periods=20, freq="H")
pd.date_range(end="2023-09-23", periods=20, freq=pd.DateOffset(years=1))

DatetimeIndex(['2023-09-22 05:00:00', '2023-09-22 06:00:00',
               '2023-09-22 07:00:00', '2023-09-22 08:00:00',
               '2023-09-22 09:00:00', '2023-09-22 10:00:00',
               '2023-09-22 11:00:00', '2023-09-22 12:00:00',
               '2023-09-22 13:00:00', '2023-09-22 14:00:00',
               '2023-09-22 15:00:00', '2023-09-22 16:00:00',
               '2023-09-22 17:00:00', '2023-09-22 18:00:00',
               '2023-09-22 19:00:00', '2023-09-22 20:00:00',
               '2023-09-22 21:00:00', '2023-09-22 22:00:00',
               '2023-09-22 23:00:00', '2023-09-23 00:00:00'],
              dtype='datetime64[ns]', freq='H')

### .dt Accessor

In [64]:
bunch_of_dates = pd.date_range(start="2023-01-01", end="2023-12-31", freq="MS")
s = pd.Series(bunch_of_dates)
s.head(3)

0   2023-01-01
1   2023-02-01
2   2023-03-01
dtype: datetime64[ns]

In [65]:
s.dt.day #similar to .str

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
dtype: int32

In [66]:
s.dt.month

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int32

In [68]:
s.dt.is_month_start

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
dtype: bool

In [69]:
mask = s.dt.is_month_start
s[mask]

0    2023-01-01
1    2023-02-01
2    2023-03-01
3    2023-04-01
4    2023-05-01
5    2023-06-01
6    2023-07-01
7    2023-08-01
8    2023-09-01
9    2023-10-01
10   2023-11-01
11   2023-12-01
dtype: datetime64[ns]

### to fetch up-to-date data: pandas datareader

In [1]:
from pandas_datareader import data

In [2]:
data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")

TypeError: string indices must be integers, not 'str'

In [4]:
birthdays = pd.date_range(start="1993-10-03", end="2023-10-17", freq=pd.DateOffset(years=1))

In [ ]:
birthday_stocks = stocks.index.isin(birthdays)

In [ ]:
stocks[birthday_stocks] #will not overwrite the dataframe
stocks.loc[birthday_stocks] #will overwrite

### Timestamp

In [ ]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")

In [ ]:
someday = stocks.index[500]
someday #is a Timestamp

In [ ]:
someday.month
someday.week
someday.is_month_start
someday.is_month_end
someday.is_quarter_end
someday.day

In [ ]:
someday.month_name()
someday.day_name()

In [ ]:
stocks.insert(0, "Day of Week", stocks.index.day_name())
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

### pd.DateOffset()

In [ ]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")

In [ ]:
stocks.index + pd.DateOffset(days=5)
stocks.index - pd.DateOffset(days=5)

stocks.index = stocks.index - pd.DateOffset(days=5)

In [ ]:
stocks.index + pd.DateOffset(weeks=2)
stocks.index - pd.DateOffset(months=1)
stocks.index + pd.DateOffset(years=2)

stocks.index + pd.DateOffset(years=2, months=3, days=5, hours=6, minutes=2)

### Timeseries Offsets

In [ ]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")

In [ ]:
stocks.index + pd.tseries.offsets.MonthEnd() #goes to next occurrence of month end
stocks.index - pd.tseries.offsets.MonthEnd() #goes to last occurrence of month end

stocks.index + pd.tseries.offsets.MonthBegin()
stocks.index - pd.tseries.offsets.MonthBegin()

In [ ]:
from pandas.tseries import offsets
stocks.index + offsets.MonthEnd()

In [ ]:
stocks.index + offsets.BMonthEnd() #next business day at end of month
stocks.index + offsets.YearBegin()

### TimeDelta object

In [4]:
a = pd.Timestamp("2023-10-18 17:22:12")
b = pd.Timestamp("2023-10-19 13:12:10")

b-a

Timedelta('0 days 19:49:58')

In [6]:
pd.Timedelta(weeks=2, days=3, hours=6, minutes=20, seconds=13)

Timedelta('17 days 06:20:13')

In [7]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [8]:
pd.Timedelta("7 days 12 hours 5 minutes")

Timedelta('7 days 12:05:00')

### TimeDeltas in dataset

In [11]:
shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping.head(3)

/var/folders/wx/608c2m1s0p30p78tw5zh92340000gp/T/ipykernel_97883/2233506868.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
/var/folders/wx/608c2m1s0p30p78tw5zh92340000gp/T/ipykernel_97883/2233506868.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [12]:
shipping["delivery time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

   order_date delivery_date delivery time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [13]:
shipping["twice as long"] = shipping["delivery_date"] + shipping["delivery time"]
shipping.head(3)

   order_date delivery_date delivery time twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [14]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery time    timedelta64[ns]
twice as long     datetime64[ns]
dtype: object

In [15]:
shipping["delivery time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: delivery time, Length: 501, dtype: bool

In [19]:
mask = shipping["delivery time"] > "3400 days"
shipping[mask]

    order_date delivery_date delivery time twice as long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29
314 1990-03-07    1999-12-25     3580 days    2009-10-13
884 1990-01-20    1999-11-12     3583 days    2009-09-03
904 1990-02-13    1999-11-15     3562 days    2009-08-16

In [20]:
shipping["delivery time"].max()

Timedelta('3583 days 00:00:00')